option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application

commands:
  01_upgrade_pip:
    command: "python3 -m pip install --upgrade pip"

  02_install_rust:
    command: |
      curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
      source $HOME/.cargo/env